

<mat-card id="card" style=" background-image: url('assets/knowledge.jpg'); background-repeat: no-repeat;margin-right:0px">

  <mat-card-title>
    Know-How

  </mat-card-title>


  <mat-card-subtitle>

    Engage.Motivate.Inspire

  </mat-card-subtitle>

</mat-card>

<mat-card>
  <img mat-card-lg-image src="assets/background.jpg" style="height:150%;margin-right:20px" />
  <img mat-card-lg-image src="assets/background.jpg" style="height:150%;margin-right:20px" />
  <img mat-card-lg-image src="assets/background.jpg" style="height:150%;margin-right:20px" />

</mat-card>
