<!--Menu-->

  <div class="row ">
    <div class="col s12 m12 l12 lg12">
      <button mat-button routerLink="/about-us" class="col s12 m12 l12 lg12">About us</button>
      <button mat-button routerLink="/contact-us">Contact us</button>
      <button mat-button routerLink="/chapter">Subscribe</button>
      <button mat-button routerLink="/signin">Sign In</button>

      <button mat-button routerLink="/">Home</button>
    </div>
    <router-outlet class="col s12 m12 l12 lg12"></router-outlet>
    <!-- Footer -->
    <footer class="know-how-footer">

      <!-- Copyright -->
      Know-How © 2018 Copyright


      <!-- Copyright -->

    </footer>
    <!-- Footer -->

  </div>

  

